/* 
    
    Tanimlamalar
    
    1) Renkler
    2) Yazi tipleri ve boyutlari
    
*/

// 1) Renkler

$main-color:#377eba;
$second-color:#c40f17; 
$white-color:#ffffff;
$black-color:#000000;
$gray-color : #f4f6f7;
$def-text-color:#353535;
$dark-color : #1d1f25;
// 2) Yazi tipleri ve boyutlari
 $main-font: 'Poppins', sans-serif;
$second-font :  'Work Sans', sans-serif;
 